.contacts {
    width: 100%;
    font-size: 2.2rem;
    @media (max-width: 550px) {
        font-size: 2rem;
    }

    @media (max-width: 400px) {
        font-size: 1.7rem;
    }

    &__phone,
    &__email {
        td {
            padding: 1.2rem;
            border: none;
            img {
                vertical-align: middle;
            }
            a {
                text-decoration: none;
            }
        }
    }
}