.services {
    display: flex;
    flex-wrap: wrap;

    &__column {
        flex: 33%;
        max-width: 33%;
    }
    
    &__service {
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
    }

    &__text {
        margin-top: 1rem; 
        text-align: center;
    }

    @media (max-width: 550px) {
        &__service:first-child {
            padding-top: 0;
        }

        &__column {
            flex: 100%;
            max-width: 100%;
        }
    }

    @media (min-width: 550px) {
        &__column {
            flex: 50%;
            max-width: 50%;
        }
    }


    @media (min-width: 750px) {
        &__column {
            flex: 33%;
            max-width: 33%;
        }
    }
}