.header {
  font-family: 'Raleway', sans-serif;
  display: flex;
  color: #353535;
  align-items: center;

  &__text {
    width: 60%;
    font-size: 4.4rem;
    text-align: center;
    padding-left: 1rem;
    box-sizing: content-box;
  }

  &__photo {
    width: 40%;
  }

  @media (max-width: 550px) {
    &__text {
      width: 78%;
      font-size: 3.2rem;
    }
    &__photo {
      padding-top: .7rem;
      //padding-bottom: .7rem;
      width: 22%;
    }
  }
  @media (max-width: 400px) {
    &__text {
      font-size: 2.8rem;
    }
  }

}