.footer {
    color: #a9a7a7;
    font-size: 1rem;
    @media (max-width: 400px) {
        font-size: .7rem;
    }
    text-align: center;
    a {
        color: inherit;
        cursor: auto;
        text-decoration: none;
    }
}