* {
    box-sizing: border-box;
}

body {
    font-size: 1.7em;
    font-family: 'Work Sans', sans-serif;
}

.tac {
    text-align: center;
}

.section {
    display: flex;

    &__title {
        text-align: center;
        font-size: 4.2rem;
        margin-bottom: 2rem;
    }

    @media (max-width: 550px) {
        &__title {
            font-size: 2.9rem;
        }
    }

    @media (max-width: 400px) {
        &__title {
            font-size: 2.7rem;
        }
    }


    &:nth-child(odd) {
        background: #ebedee;  /* fallback for old browsers */
        background-image: linear-gradient(to right, #fdfbfb 0%, #ebedee 100%);
    }

    &__container {
        padding-top: 8rem;
        padding-bottom: 8rem;
        @media (max-width: 550px) {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
    }
}

.photo {
    display: flex;
    justify-content: flex-start;

    &__portrait {
        width: 100%;
        height: auto;
        align-self: center;
    }

    &__icon {
        height: 5rem;
        align-self: center;
    }

    &__thumbnail {
        height: 2.5rem;
        align-self: center;
    }
}


/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
